
<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="//heylaundry.us10.list-manage.com/subscribe/post?u=537c5f05277fa24e0f22e2b14&amp;id=157d4387cb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<div class="mailingform">
 		<div id="mce-responses" class="clear">
 			<div class="response" id="mce-error-response" style="display:none"></div>
 			<div class="response" id="mce-success-response" style="display:none"></div>
 		</div> <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
	 	<div style="position: absolute; left: -5000px;">
	 		<input type="text" name="b_537c5f05277fa24e0f22e2b14_157d4387cb" tabindex="-1" value="">
	 	</div>
	  <input type="email" placeholder="Enter your email..." value="" name="EMAIL" class="required email form-control" id="mce-EMAIL">
	 	<input type="submit" value="Get early access" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-primary">
	</div>
</form>
</div>


<!--End mc_embed_signup-->

<div id="demo" class="social"></div>
<script>
$(function() {
$("#demo").socialButtons();
})
</script>
<script>
$(function() {
$("#demo").socialButtons({
socialNetworks: ["facebook", "Twitter", "googleplus"],
url: "",
text: "",
sharelabel: true,
sharelabelText: "SHARE",
verticalAlign: false
});
})
</script>