<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">

<form action="//heylaundry.us10.list-manage.com/subscribe/post?u=12fd6d8d92333601e248f25d8&amp;id=fee2cc014d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <input type="text" name="b_12fd6d8d92333601e248f25d8_70cb957a2a" tabindex="-1" value="" style="position: absolute; left: -5000px;">
    <div class="mailingform">
        <input type="email" class="form-control" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="enter email..." required>
        &nbsp;
        <input type="submit" class="btn btn-primary" value="Get early access" name="Get Early Access" id="mc-embedded-subscribe" class="button">
    </div>
</form>

<!--End mc_embed_signup-->

<div id="demo" class="social"></div>
<script>
$(function() {
$("#demo").socialButtons();
})
</script>
<script>
$(function() {
$("#demo").socialButtons({
socialNetworks: ["facebook", "<a href="http://www.jqueryscript.net/tags.php?/twitter/">twitter</a>", "googleplus"],
url: "",
text: "",
sharelabel: true,
sharelabelText: "SHARE",
verticalAlign: false
});
})
</script>