    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">

                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

        <!-- /.pagecontent -->
	<a  name="services"></a>
    <div class="pagecontent">                        
                        <h4></h4>Hey friend, help us build Hey, laundry!<br>With 1,000 email signups, we'll be well on our way to make this dream a reality</h4>

                        <ul class="list-inline">
                        <li class="footer-menu-divider"></li>
                    </ul>                    

    <!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
    #mc_embed_signup{background:#D8D8D8;margin: 0 auto; font:20px Helvetica,Arial,sans-serif;  width:500px;}
    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div>
<form action="//heylaundry.us10.list-manage.com/subscribe/post?u=12fd6d8d92333601e248f25d8&amp;id=fee2cc014d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <input type="text" name="b_12fd6d8d92333601e248f25d8_70cb957a2a" tabindex="-1" value="" style="position: absolute; left: -5000px;">
    <div style="display:inline-flex">
        <input style="padding: 20px;font-size: 20px;" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="enter email" required>
        &nbsp;
        <input style="padding: 20px;width: 250px;font-size: 20px;background: #e56473;" type="submit" value="Get Early Access" name="Get Early Access" id="mc-embedded-subscribe" class="button">
    </div>
</form>
</div>

<!--End mc_embed_signup-->
        <!-- /.container -->
                        <hr class="intro-divider">
                </div>
            </div>

        </div>
    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">
    <div class="wording">
    <p>How it works.</p>
    </div>

<div class="container"><div class="row"><div class="content-area text-left">
        <div class="col-lg-4 col-sm-12 space-top">
        <div class="col-lg-7 col-sm-9">
    <center><img class="img-responsive" src="<%= image_path 'basket-large.png' %>" width="175px" alt=""></center>
</div>
        <div class="col-lg-7 col-sm-9">
        <h4><b>Pick me, maybe?</b></h4>
    <p>Tell us where and<br>what time you'd like<br>your dirty laundry to<br>be picked up.</p>

    </div>
        </div>
            <div class="col-lg-4 col-sm-8 space-top">
                <div class="col-lg-7 col-sm-8">
        <center><img class="img-responsive" src="<%= image_path 'machine-large.png' %>" width="175px" alt=""></center>
            </div>

        <div class="col-lg-7 col-sm-8">

        <h4><b>I'm spinnin'</b></h4>
                <p>Your clothes will be<br>washed, dry cleaned,<br>pressed and folded<br>to perfection.</p></div>

</div>
                <div class="col-lg-4 col-sm-12 space-top">

            <div class="col-lg-7 col-sm-12">                    
         <img class="img-responsive" src="<%= image_path 'house-large.png' %>" width="175px" alt="">
</div>
        <div class="col-lg-9 col-sm-9"><h4><b>Home sweet home.</b></h4><p>Your freshly washed<br>clothes will be<br>delivered home in a<br>lovely fabric bag.</p>
                </div>
            </div>
        </div>
    </div>
</div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                    <div class="section-heading-spacer">
                    <h2 class="section-heading">Ready to enjoy <b>easy</b> and <b>hassle free</b> laundry?</h2>
                    <p class="lead">Drop your email and be the first to know when we launch.<br>We promise to never spam your inbox or give your info away.</p>
                </div>
                <br>
                <div class="col-lg-3 col-lg-offset-3 col-sm-10">
        <!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
    #mc_embed_signup{background:#D8D8D8;margin: 0 auto; font:20px Helvetica,Arial,sans-serif;  width:500px;}
    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div>
<form action="//heylaundry.us10.list-manage.com/subscribe/post?u=12fd6d8d92333601e248f25d8&amp;id=fee2cc014d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <input type="text" name="b_12fd6d8d92333601e248f25d8_70cb957a2a" tabindex="-1" value="" style="position: absolute; left: -5000px;">
    <div style="display:inline-flex">
        <input style="padding: 20px;font-size: 20px;" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="enter email" required>
        &nbsp;
        <input style="padding: 20px;width: 250px;font-size: 20px;background: #e56473;" type="submit" value="Get Early Access" name="Get Early Access" id="mc-embedded-subscribe" class="button">
    </div>
</form>
<nr>
<br>
<br>
</div>

<!--End mc_embed_signup-->          
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
            <div class="layout">
  <div class="centre"><p>Contact<br><br><a href="mailto:hello@heylaundry.com">hello@heylaundry.com</a></div>
</div>
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li class="footer-menu-divider"></li>
                    </ul>
                    <p class="copyright text-muted small">Made by nice people from Malaysia. Copyright &copy; heylaundry 2015. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

