.landing {

  .header {
    position: absolute;
  }

  .hero-banner {
    display: table;
    background-image: asset-url('landing/hero.png');
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: 50% 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .content {
      display: table-cell;
      vertical-align: middle;
    }

  }
}
